.corousel__img {
  width: 100%;
}

.product__text {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 50px;
}

.product__title {
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 700;
  line-height: 122px;
  letter-spacing: 0em;
  text-align: left;
}